<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleGlobal.css">
    <link rel="stylesheet" href="../static/styleCarros.css">
    <title>Loja de Motos</title>
</head>
<body>
    <header>
        <div>
            <figure>
                <img src="https://th.bing.com/th/id/OIP.N6h1L5v_e9c7G_zTwc6iIgHaHa?rs=1&pid=ImgDetMain" alt="Logo">
            </figure>
            <h2>Loja de Motos</h2>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/carros">Motos</a>
        </nav>
    </header>

    <main>
        <!--Lista dos Produtos-->
    </main>

    <footer>
        <h3>&copy; Loja de motos</h3>
    </footer>

    <script src="../static/api.js"></script>
</body>
</html>