<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styleGlobal.css">
    <link rel="stylesheet" href="../static/styleIndex.css">
    <title>Loja de Motos</title>
</head>
<body>
    <header>
        <div>
            <figure>
                <img src="https://th.bing.com/th/id/OIP.N6h1L5v_e9c7G_zTwc6iIgHaHa?rs=1&pid=ImgDetMain" alt="Logo">
            </figure>
            <h2>Loja de Motos</h2>
        </div>
        <nav>
            <a href="#">Home</a>
            <a href="/carros">Carros</a>
        </nav>
    </header>

    <main>
        <section class="welcome">
            <h1>Bem-vindo à Loja de Motos!</h1>
            <p>Na Loja de Motos, sua paixão por motos encontra o lugar certo. Oferecemos uma ampla gama de motocicletas, desde modelos clássicos até os mais modernos e potentes. Nossa missão é proporcionar a você a melhor experiência sobre duas rodas, com atendimento especializado e produtos de qualidade.</p>
        </section>

        <section class="promotions">
            <h1>Promoções</h1>
            <h3>Super Promoção de Inverno!</h3>
            <p>Aproveite os descontos incríveis em modelos selecionados. Venha conferir e saia acelerando com sua nova moto dos sonhos!</p>
            <h3>Semana da Velocidade</h3>
            <p>Descontos imperdíveis em motos esportivas. Não perca essa oportunidade de pilotar com estilo e desempenho.</p>
        </section>

        <section class="services">
            <h1>Serviços</h1>
            <h3>Serviços Especializados</h3>
            <p>Nossa oficina oferece manutenção completa e personalizada para sua moto. Profissionais qualificados e peças originais garantem o melhor cuidado para seu veículo.</p>
            <h3>Financiamento Facilitado</h3>
            <p>Realize o sonho de ter uma moto nova com nosso plano de financiamento. Parcelas que cabem no seu bolso e aprovação rápida.</p>
        </section>

        <section class="social_midias">
            <h1>Posts para Redes Sociais</h1>
            <h3>Nova Coleção</h3>
            <p>Chegou a nova coleção de motos 2024 na Loja de Motos! Modelos incríveis que vão fazer seu coração acelerar. Venha conferir! #MotoLovers #Lançamento2024</p>
            <h3>Dia do Motociclista</h3>
            <p>Feliz Dia do Motociclista! Hoje é o dia de celebrar a liberdade e a paixão por duas rodas. Passe na Loja de Motos e aproveite nossos descontos especiais para você. #DiaDoMotociclista #PaixãoPorMotos</p>
        </section>
    </main>

    <footer>
        <h3>&copy; Loja de motos</h3>
    </footer>
</body>
</html>